.imageUploadWrapper {
  width: 100%;
  height: 605px;
  overflow-y: auto;

  .fileButtonOuter {
    position: relative;
    overflow: hidden;
    display: inline-block;

    .fileButton {
      border: 2px solid gray;
      color: rgb(0, 0, 0);
      background-color: white;
      padding: 8px 20px;
      border-radius: 8px;
      font-size: 20px;
      font-weight: bold;

      input {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
      }
    }
  }

  .row {
    margin: 50px 50px 0px 50px;
    display: flex;
    gap: 100px;
    height: 80%;

    .sidebar {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      .thumbnail {
        width: 80px;
        height: 80px;
        margin-bottom: 10px;
        border: 2px solid #fff;
        cursor: pointer;

        &.active {
          border: 4px solid #6dab72;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .previewAlignment {
      display: flex;
      gap: 50px;
      width: 100%;
      align-items: center;
      justify-content: center;
    }
    .preview {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 500px;
      height: 500px;
      position: relative;
      .previewWrapper {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        top: 0;
        right: 0;
        width: 100%;
        gap: 10px;
        cursor: pointer;
        button {
          cursor: pointer;
          font-size: 1.2em;
          padding: 10px;
          font-weight: 500;
          font-size: 15px;
          background-color: #fff;
          text-decoration: none;
          border-radius: 0.5em;
          border: none;
          color: #8a99db;
        }
      }
      img {
        width: 350px;
        height: 350px;
        object-fit: contain;
      }
    }
    .cropedImage {
      width: 500px;
      display: flex;
      align-items: center;
      justify-content: center;
      .cropImageAlignment {
        display: flex;
        justify-content: center;
        flex-direction: column;
        canvas {
          width: 500px;
          max-width: 100%;
          max-height: 100%;
          object-fit: contain;
        }
        .btnAlignment {
          margin-top: 30px;
          display: flex;
          gap: 50px;
          .button {
            border: 1px solid;
            cursor: pointer;
            padding: 10px 15px;
            background-color: white;
            color: #6dab72;
            font-weight: 500;
            font-size: 18px;
            transition: 0.3s;
            &:hover {
              background-color: #6dab72;
              color: white;
            }
          }
        }
      }
    }
    input[type="file"] {
      margin-top: 20px;
    }
  }
}
.CropedImage {
  display: flex;
  height: 100%;
  width: 100%;
}
